:root {
  --color-dark: #2e2f42;
  --color-light: #ffffff;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-slate: #434455;
  --color-interactive-hover: #404bbf;
  --color-interactive-normal: #4d5ae5;
  --color-light-slate: #8E8F99;;
  --card-set-gap: 24px;
  --transition-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--color-slate);
  background-color: var(--color-light);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}


/* ================= COMPONENTS ================= */
.container {
  padding: 0 16px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container { 
      width: 1158px;
      padding: 0 15px;
  }
}
.container-grid {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
@media screen and (min-width: 468px) {
  .container-grid {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container-grid {
    width: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .container-grid {
      width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 8px;
}
/* =================== */
.flex-grid-gap {
  display: flex;
  row-gap: var(--card-set-gap);
  flex-wrap: wrap;
}
/* =================== */
.list-flex-grid-gap {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .list-flex-grid-gap {
    display: flex;
    gap: var(--card-set-gap);
    flex-wrap: wrap;
  }
}
/* =================== */
.grid-image {
  width: 264px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}
/* ================= COMPONENTS ================= */

/* -------------HEADER------------- */
.page-header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-interactive-normal);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 3.78;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.span-logo {
  color: var(--color-dark);
}

.menu-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}

.link-nav {
  display: block;
  padding: 24px 0;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition-parameters);
}
.contacts {
  font-weight: 400;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
}
@media screen and (min-width: 1158px) {
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display:none;
  }
}
.contact-item-link {
  color: var(--color-slate);
  font-style: normal;
  transition: color var(--transition-parameters);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contact-item:not(:last-child) {
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 1158px) {
  .contact-item {
    display: inline-block;
  }
  .contact-item:not(:last-child) {
    margin-right: 40px;
  }
}
.link-nav:hover,
.link-nav:focus,
.mobile-link-nav:hover,
.mobile-link-nav:focus,
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--color-interactive-hover);
}

 .menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
} 

/* =============== MOBILE MENU =========== */
.mobile-menu-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 0 40px 40px; */
  background-color: var(--color-cloud);
  z-index: 999;
  transform: translateX(100%); 
  transition: transform var(--transition-parameters);
}
.mobile-menu-container {
  position: relative;
  max-width: 428px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-toggle-close {
  position: fixed;
  right: 20px;
  top: 20px;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color-dark);
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle-close {
    display: none;
  }
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.mobile-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-link-nav {
  display: block;
  color: var(--color-dark);
  transition: color var(--transition-parameters);
}

.current-underlined {
  position: relative;
  color: var(--color-interactive-hover);
}

@media screen and (min-width: 768px) {
  .current-underlined::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-interactive-hover);
  }
}

.mobile-contacts {
  margin-top: auto;
}
.mobile-contact-tel {
  display: block;
  font-style: normal;
  font-weight: 700;
  /* font-size: 36px; */
  font-size: 7vw;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-interactive-normal);
}
.mobile-contact-mail {
  display: block;
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.mobile-menu-window.is-open {
  transform: translateX(0);
}

.mobile-menu-window .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
/* -------------HEADER end ------------- */
/* ------------- HERO ------------- */
.hero {
  height: 432px;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* mobile */
@media screen and (max-width:767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)), url(../images/people-mobile.jpg);
  }
  @media 
      screen and (min-device-pixel-ratio: 2) and (max-width:767px),
      screen and (min-resolution: 192dpi) and (max-width:767px),
      screen and (min-resolution: 2dppx) and (max-width:767px) {
        .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7),
           rgba(46, 47, 66, 0.7)), url(../images/people-mobile@2x.jpg);
        }
  }
 }

 /* tablet */
@media  screen and (min-width: 768px) and (max-width: 1157px) {
  .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/People-tablet.jpg);
  }
     @media screen and (min-device-pixel-ratio: 2) and (max-width:1157px),
     screen and (min-resolution: 192dpi) and (max-width:1157px),
     screen and (min-resolution: 2dppx) and (max-width:1157px) {
       .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url(../images/People-tablet@2x.jpg);
       }
     }
}
/* desctop */
@media screen and (min-width: 1158px) {
  .hero {
      padding: 188px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
  }
      @media screen and (min-device-pixel-ratio: 2) and (max-width:1157px),
      screen and (min-resolution: 192dpi) and (max-width:1157px),
      screen and (min-resolution: 2dppx) and (max-width:1157px) {
        .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url(../images/people@2x.jpg);
        }
      }
}

.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  width: 320px;
  letter-spacing: 0.02em;
  overflow-wrap: normal;
  text-align: center;
  margin: 0 auto 72px;
  text-transform: capitalize;
}
@media screen and (min-width:768px) {
   .title-hero {
      font-size: 56px;
      line-height: 1.07;
      margin: 0 auto 36px;
      width: 496px;
   }
}
@media screen and (min-width: 1158px) { 
   .title-hero {
      font-size: 56px;
      line-height: 1.11;
      margin: 0 auto 48px;
  }
}  
.modal-button {
  height: 56px;
  min-width: 169px;
  border: none;
  background: var(--color-interactive-normal);
  color: var(--color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition-parameters);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-interactive-hover);
}
/* ------------- HERO end ------------- */
/* ------------- STRENGHTS ------------- */
.strengths {
  text-align: left;
  background-color: var(--color-light);
}
@media screen and (max-width: 767px) {
  .strengths {
    padding: 96px 0;
  }
}
@media screen and (min-width: 768px) {
  .strengths {
    padding: 120px 0;
  }
}
.strengths-flex-grid-gap {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .strengths-flex-grid-gap {
    display: flex;
    column-gap: var(--card-set-gap);
    row-gap: 72px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .strengths-list-item {
    display: block;
}
  .strengths-list-item:not(.strengths-list-item:last-child) {
   margin-bottom: 72px;
  }
}
@media screen and (min-width:768px) {
  .strengths-list-item {
    flex-basis: calc((100% - 1 * var(--card-set-gap)) / 2);
  }
}
@media screen  and (min-width: 1158px) {
  .strengths-list-item {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
  }
}
.strengths-list-content-title {
  color: var(--color-dark);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1157px) {
.strengths-img {
  display: none;
  }
  .strengths-list-content-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
  }
}
@media screen and (max-width: 768px) {
  .strengths-list-content-title {
      text-align: center;
    }
}
@media screen and (min-width:1158px) {
  .strengths-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      margin: 0 0 8px;
      padding-top: 24px;
      padding-bottom: 24px;
      background-color: var(--color-cloud);
      border-radius: 4px;
    }
  
    .strengths-icon {
      width: 100%;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
    .item-description {
      color: var(--color-slate);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;  
      margin-bottom: 8px;
    }
 @media screen and (max-width: 1157px) {
  .item-description{
    font-weight: 500;
  }
}
/* =================STRENGHTS END================= */
/* =================WHAT ARE WE DOING================= */
.work {
  padding-bottom: 120px;
}

.flex-grid-gap {
  display: flex;
  row-gap: var(--card-set-gap);
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 2*var(--card-set-gap)) / 3);
}
.work-item>picture {
  width:360px;
}

@media screen and (max-width: 1157px) {
  .work {display: none;}
}
/* =================WHAT ARE WE DOING end================= */
/* =================OUR TEAM================= */
.team {
  background-color: var(--color-cloud);
  text-align: center;
  padding: 96px 0;
}
@media screen and (min-width: 1157px) {
  .team {
    padding: 120px 0;
  }
}
.team-flex-grid-gap {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .team-flex-grid-gap {
    display: flex;
    column-gap: var(--card-set-gap);
    row-gap: 64px;
    flex-wrap: wrap;
  }
}

/* =================== */
.list-flex-grid-gap {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .list-flex-grid-gap {
    display: flex;
    gap: var(--card-set-gap);
    flex-wrap: wrap;
  }
}

/* =================== */
.team-item {
  
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
      margin-bottom: 72px;
    }
}
@media screen and (min-width: 768px) {
.team-item {
    width: calc((100% - 1 * var(--card-set-gap)) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 3*var(--card-set-gap)) / 4);
  }
}
.card-description {
  padding: 32px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-interactive-normal);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-parameters);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-interactive-hover);
}

.social-link-icon {
  fill: var(--color-cloud);
}

/* =================OUR TEAM end================= */
/* ============= CUSTOMERS ============ */
.customers {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}
.customers-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}
.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
@media screen and (min-width:768px) {
  .customer-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width:1158px) {
  .customer-item {
    width: calc((100% - 120px) / 6);
  }
}
.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  transition: border-color var(--transition-parameters), color var(--transition-parameters);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--color-interactive-hover);
  color: var(--color-interactive-hover);
}

.customer-icon {
  width: 104px;
  height: 56px;

  fill: currentColor;
}
/*============= FOOTER ============*/
.footer {
  background-color: var(--color-dark);
  color: var(--color-cloud);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container-flex {

}
@media screen and (min-width:768px) {
  .footer-container-flex {
      width: 584px;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: left;
    }
}
@media screen and (min-width: 1158px) {
  .footer-container-flex {
    width: 1158px;
    justify-content: center;
  }
}
  
@media screen and (max-width:767px) {
  .margin-div-footer {
      margin-bottom: 72px;
    }
}

@media screen and (min-width:768px) {
  .margin-div-footer {
      margin-right: 24px;
    }
}
@media screen and (min-width:1158px) {
  .margin-div-footer {
    margin-right: 120px;
  }
}

.footer-logo-link {
  color: var(--color-interactive-normal);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
@media screen and (max-width:767px) {
  .footer-logo-link {
    display: flex;
    justify-content: center;
  }
}
.footer .span-logo {
  color: var(--color-cloud);
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:767px)  {
  .studio-social {
      margin-bottom: 72px;
    }
}


@media screen and (min-width: 1158px) {
  .studio-social {
      margin-right: 80px;

    }
}

.footer-section-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .footer-section-header {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-interactive-normal);
  border-radius: 50%;
  transition: background-color var(--transition-parameters);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
/*================FOOTER social links-END===========
  ================FOOTER SUBSCRIBE-=========== */

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .subscribe-section{
    margin-top: 72px;
  }
}

  @media screen and (min-width: 768px) {
  .subscribe-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
       
    
}
 .input-subscribe {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
 }
.subscribe-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin: 16px auto 0;
  /*margin-left: auto;
  margin-right: auto;*/
  border: none;
  background: var(--color-interactive-normal);
  color: var(--color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition-parameters);
}
@media screen and (min-width:768px) {
  .input-subscribe {
      width: 264px;
      margin-right: 24px;
  }
  .subscribe-submit {
      margin: 0 auto;
  }
}
.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-light);
}


.subscribe-submit:hover,
.subscribe-submit:focus {
  background-color: var(--color-interactive-hover);
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--color-light);
}
/* ================FOOTER SUBSCRIBE-end===========*/
/* ------------- MODAL WINDOW ------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--transition-parameters),
    visibility var(--transition-parameters);
}

.modal-form {
  width: 392px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition-parameters);
}
@media screen and (max-width: 392px) {
  .modal-form {
    width: 100%;
  }
}
@media screen and (min-width:768px) {
  .modal-form {
    width: 408px;
  }
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-parameters), border var(--transition-parameters);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--color-interactive-hover);
  border: none;
}
.modal-close-button:hover .icon-close,
.modal-close-button:focus .icon-close {
  fill: var(--color-light);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 16px;
}

.contact-item-comment {
  margin-bottom: 16px;
}

.contact-input-wrapper {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.contact-input-icon-wrapper {
  position: relative;
}

.contact-input-icon-wrapper-my {
  position: relative;
  margin-top: 4px;
}
.contact-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-parameters);
}

.contact-input:focus,
.user-message:focus {
  border-color: var(--color-interactive-normal);
}

.contact-input:focus+.contact-input-icon {
  fill: var(--color-interactive-normal);
}

.contact-input-icon {
  /*display: block;*/
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--color-dark);
  transition: fill var(--transition-parameters);
}

.user-comment {
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-parameters)
}

.user-comment:focus {
  border-color: var(--color-interactive-normal)
}

.user-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-policy-item {
  margin-bottom: 24px;
}

.checkbox-policy-lable {
  /* width: 100%; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-light-slate);
  cursor: pointer;
}

.check-icon-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: var(--color-light);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.checkbox-policy-wrapper {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  margin-bottom: 24px;
}

.check-icon {
  fill: transparent;
  background-color: transparent;
  outline: none;

}

.policy-link {
  color: var(--color-interactive-normal);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.policy-checkbox:checked+.checkbox-policy-lable>.check-icon-span {
  background-color: var(--color-interactive-hover);
  border: none;
  border-color: var(--color-interactive-hover);
  fill: var(--color-light);
  outline: var(--color-interactive-hover);
}

.policy-checkbox:checked+.checkbox-policy-lable>.check-icon-span .check-icon {
  background-color: var(--color-interactive-hover);
  border: none;
  fill: var(--color-light);
  outline: var(--color-interactive-hover);
}

.checkbox-policy-wrapper:hover>.check-icon,
.checkbox-policy-wrapper:focus>.check-icon {
  border-color: var(--color-interactive-hover)
}

.contact-submit {
  height: 56px;
  min-width: 169px;
  border: none;
  background: var(--color-interactive-normal);
  color: var(--color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition-parameters);
}

.contact-submit:hover,
.contact-submit:focus {
  background-color: var(--color-interactive-hover);
}

/* ------------- MODAL WINDOW end ------------- */
/* ---------------------------------------Portfolio --------*/
.gallery {
  padding: 96px 0 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: var(--card-set-gap);
  margin-bottom: 72px;
}

.filter-item {
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  background-color: var(--color-cloud);
  color: var(--color-interactive-normal);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  cursor: pointer;
  transition: color var(--transition-parameters), background-color var(--transition-parameters),
    border-color var(--transition-parameters),
    box-shadow var(--transition-parameters);
}

.filter-item:hover,
.filter-item:focus {
  color: var(--color-light);
  background-color: var(--color-interactive-hover);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width:767px) {
  .filter-list {
    justify-content: left;
    flex-wrap: wrap;
  }
  .filter-item {
    padding: 8px 16px;
  }
}
.flex-grid-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-item {
  flex-basis: calc((100% - 2*var(--card-set-gap))/3);
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);*/
}

.gallery-item-link {
  display: block;
  transition: box-shadow var(--transition-parameters);
}

.gallery-item-link:hover,
.gallery-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-item-border {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.wrapper-portfolio-imge {
  position: relative;
  overflow: hidden;
}

.gallery-item-link:hover .overlay-description,
.gallery-item-link:focus .overlay-description {
  transform: translateY(0);
}

.overlay-description {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-interactive-normal);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-parameters);
  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow: auto;
}
/*Portfolio END*/

